<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/meta') %>
  </head>
  <body>
    <%- include('partials/header') %>
    <div id="top-content">
      <div class="marketing-content">
        <a href="https://chrome.google.com/webstore/detail/pkhdmfigkmhboekijlapffdjbdhhmmbg">
          <h1>
            <%= title %>
          </h1>
        </a>
        <p>
          Your recommender of credible news sources 
          <br />
          <br />
          With the Newsblock plugin you can support quality news by simply browsing the web
        </p>
        <a href="https://chrome.google.com/webstore/detail/pkhdmfigkmhboekijlapffdjbdhhmmbg" class="download-button">
          Download on Chrome
        </a>
        <a class="how-this-works-link">
          <label>How this works</label>
          <div class="how-this-works-arrow"></div>
        </a>
      </div>
    </div>
    <div class="info-content" id="how-this-works">
      <div class="info-row">
        <div class="left">
          <h2 class="info-title" >How this works</h2>
          <div class="info-body">
            <ol>
              <li>
                <label>Click on a news article</label>
                <ul>
                  <li>As your browsing the web Newsblock checks to see if the website you click has been indexed by our credibility algorithms</li>
                  <li><b>Note</b> - we do not store any of your search history/cookies or personal information</li>
                </ul>
              </li>
              <li>
                <label>Get recommended an article</label>
                <ul>
                  <li>If the article you clicked on was of low credibility you will be recommended a higher ranked article about the same topic</li>
                  <li><b>Note</b> - if you do not want to see the recommended warning page, turn on the 'Auto' setting</li>
                </ul>
              </li>
              <li>
                <label>Support quality news</label>
              </li>
            </ol>
          </div>
        </div><div class="right image-container">
          <img src="/images/screenshot_1.png" class="screenshot"></img>
        </div>
      </div>
      <div class="info-row">
        <div class="left rankings">
          <h2 class="info-title" >Newsblock Rankings</h2>
          <table>
            <tr>
              <th>Publication</th>
              <th>Rating</th>
            </tr>
            <% rankings.forEach(function(ranking) { %>
              <tr class="ranking-row" style="background-color: <%= ranking['color'] %>;">
                  <td class="publication" ><%= ranking['_id'] %></td>
                  <td class="rating"><%= ranking['overallRating'] %>%</td>
              </tr>
            <% }); %>
          </table>
        </div><div class="right">
          <h2 class="info-title">How Newsblock rates articles?</h2>
          <div class="info-body">
            <ol>
              <li>
                <label>Factual History and Bias</label>
                <ul>
                  <li>The publication's bias and factual record which we retrieve from <a target="_blank" href="https://mediabiasfactcheck.com/">Media Bias Fact Check</a></li>
                  <li>History is the strongest factor taken in consideration when scoring an article</li>
                </ul>
              </li>
              <li>
                <label>Trackers</label>
                <ul>
                  <li>Scripts used to track your data</li>
                  <li>We use the amount of trackers on an article page as a factor</li>
                </ul>
              </li>
              <li>
                <label>Soft references</label>
                <ul>
                  <li>Links and quotations found in the article</li>
                  <li>This is a weaker factor in the scoring algorithm</li>
                </ul>
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <script src="/javascripts/main.js"></script>
    <%- include('partials/footer') %>
    
  </body>
</html>
  	
